* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  font-size: 64px;
}

header {
  height: 20rem;
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
}

header img {
  margin: 1rem;
}

.recipes {
  text-align: center;
}
.recipes > * {
  margin: 1rem;
}

.flags img {
  width: 5rem;
  margin: 1rem;
  border-radius: 50%;
}
